@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root {
    --primary-color-blue: #2563eb;
    --secondary-color-blue: #598EF3;
    --dark-color-blue: #475569;
    --primary-color-pink: #d946ef;
    --secondary-color-pink: #fae8ff;
    --primary-color-text: #006aeb;
    --background-color: #334155;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

body {
    background-color: var(--background-color);
}

h1 {
    font-family: 'Rubik Mono One', 'sans-serif';
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 25px;
    margin-top: 20px;
    color: var(--primary-color-text);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50, 1fr);
    height: 1000px;
    width: 1000px;
    margin: 30px 10px;
    background-color: var(--background-color);
    gap: 2px;
    cursor: pointer;
}

.grid-item {
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid var(--primary-color-text);
    position: relative;
}

.grid-item.active {
    background-color: var(--secondary-color-pink);
}

.grid-item:hover{
    background-color: #f00;
}

.wall {
    background-color: var(--primary-color-pink);
}

.neighbour {
    background-color: #ffff00;
    transition: ease-in 0.5s;
}

.cc {
    background-color: #dddddd;
}

button#generateMapButton {
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 16px; 
    background-color: var(--primary-color-blue);
    color: white;
    border: none; 
    cursor: pointer; 
}

button#generateMapButton:hover {
    background-color: var(--secondary-color-blue);
}

.spawn {
    background-color: #1eff00;
}

.end {
    background-color: #f00;
}

button#w1 {
    margin-top: 20px; 
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: var(--primary-color-blue);
    color: white;
    border: none; 
    cursor: pointer; 
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 205px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{background-color:#ddd;}
.dropdown:hover .dropdown-content{display:block;}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}